<% layout('layouts/boilerplate') -%> 





<a href="/menu/<%= table_id %>/update "><div class="btn btn-success">Change details of a Dish</div></a>




<a href="/current_orders"><div class="btn btn-success">On going orders</div></a>

<a href="/orders_history"><div class="btn btn-success">history</div></a>