<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website </title>


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/stylesheets/restaurant.css">

</head>
<body>
    
<!-- header section starts      -->

<header>

    <a href="https://maps.app.goo.gl/ggAERiMpfSKLp8Wk6" target="_blank" class="logo"><i class="fas fa-utensils"></i> IIITDM.</a>

    <nav class="navbar">
        <!-- <a class="active" href="#home">home</a>
        <a href="#dishes">dishes</a> -->
        <a href="#about">about</a>
        <a href="#menu">menu</a>
        <!-- <a href="#review">review</a> -->

    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <i id="cart-icon" class="fas fa-shopping-cart"></i>
        <a href="admin_login_cred"><i class="fas fa-user"></i></a>
    </div>

</header>

<!-- header section ends-->


<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>




<!-- about section starts  -->

<section class="about" id="about">

    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">

        <div class="image">
            <img src="images/home-img-1.png" alt="">
        </div>

        <div class="content">
            <h3>best food in the country</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sequi corrupti corporis quaerat voluptatem ipsam neque labore modi autem, saepe numquam quod reprehenderit rem? Tempora aut soluta odio corporis nihil!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque deleniti iste alias, eum natus.</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>free delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h3 class="sub-heading"> make your meal </h3>
    <h1 class="heading"> Our Menu </h1>

    <div class="box-container">
        <% for(let mitem of items) {%> 
            <div class="box">
                <div class="image">
                    <img src='<%= mitem.img_link %> '  alt="" class="shop-item-image">
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <span class="shop-item-title"><%= mitem.name%></span>
                    <p><%= mitem.description %></p>
                    <button class="btn  shop-item-button" type="button">ADD TO CART</button>
                    <span style="font-size:25px; color: red;">₹</span><span class="price shop-item-price"><%= mitem.cost%></span>
                </div>
            </div>
        <% } %> 



    </div>

</section>

<!-- menu section ends -->



 



<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#">about</a>
            <a href="#">menu</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">+111-222-3333</a>
            <a href="#">@iiitdm.ac.in</a>
            <a href="#">@iiitdm.ac.in</a>
            <a href="#">India</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
        </div>

    </div>

    <div class="credit"> copyright @ 2022 by <span>By team 5</span> </div>

</section>

<!-- footer section ends -->

<section id="cart">
    <i class="fas fa-times" id="cart-close"></i>
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-purchase" type="button">ORDER</button>
</section>

<!-- loader part  -->
<div class="loader-container">
    <img src="images/Food Loading.gif" alt="">
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="javascripts/restaurent.js"></script>
<script src="javascripts/cart.js"></script>


</body>
</html>