<% layout('layouts/boilerplate') -%> 

<% let foundItem = foundItem1[0]; %> 

<div class="container">
    <div class="row">
        <% console.log(foundItem.name) %> 
        <h1 class="text-center">Edit Menu Item</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/menu/<%=foundItem.dish_id%>?_method=PATCH" method="post">                    
                <div class="mb-3">
                    <label class="form-label" for="cost">Cost:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="cost-label">$</span>
                        <input type="text" name="cost" id="cost" class="form-control" placeholder="0.00" value="<%= foundItem.cost %>" required>
                    </div>
                </div>
                    
                    
                <div class="mb-3">
                    <label class="form-label" for="available_or_not">Available or not:</label>
                    <textarea type="text" name="available_or_not" id="available_or_not" class="form-control" required><%= foundItem.available_or_not %></textarea>
                </div>

            
                <button class="btn btn-info mb-3" type="submit">Update</button>
            </form>
            </div>
        </div>
    </div>
    
